*{
    font-family: 'rudaregular',Arial, Helvetica, sans-serif;
}

body{
    width: 428px;
    height: 926px;
}

header{
    background-image: url(/images/violet3.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

#rouge{
    background-image: url(/images/rouge.jpg);
}

#menu:not(:target){
    display: none;
}

#menu:target{
    display: block;
    background-color: #e5e5e58a;
    list-style-type: none;
    width: 300px;
    padding-left: 20px;
    font-size: 40px;
    position: absolute;
    top: -33px;
}

#logo_menu{
    margin-left: -20px;
}

li{
    padding-bottom: 10px;
}

#wrap:not(:target){
    display: none;
}

#wrap:target{
    display: block;
    opacity: 0.7;
    font-size: 1.8em;
    margin: auto;
}

main{
    height: 841px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

legend{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    -webkit-text-stroke: 1px black;
}

form{
    font-size: 30px;
    color: white;
}

#nom, #total, #ingredients, #ustensiles, #preparation, #note, #tags, #difficulté, #procedure, #cuisson{
    background-color: rgba(255, 255, 255, 0.360);
    display: inline-block;
    font-size: 20px;
    display: flex;
}



#submit{
    font-size: 40px;
    margin-left: 140px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.360);
}

.iconify{
    width: 79.81px;
    height: 82px;
}


